{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "no-console": "off",
    "linebreak-style": 0,
    "react/jsx-no-constructed-context-values": 0,
    "no-nested-ternary": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
